.btn {
    border: none;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5em 1em;
    background-color: rgb(52, 125, 209);
    color: #fff;
    border-radius: 0.3em;
    max-width: 100px;
    margin-top: 1em;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(29, 93, 165);
}

.btn:active {
    transform: scale(1.1);
}